<div class="container">
  <div class="m-3 text-center">
    <form class="form-inline" (ngSubmit)="doSearch()">
      <div class="form-group">
        <input type="search"
               class="form-control"
               placeholder="Enter search string"
               name="search" 
               [(ngModel)]="term"
               required>
      </div>
      <button type="submit"
              class="btn btn-primary">
        Search
      </button>
    </form>
    <hr />

    <div class="text-center">
      <!-- TODO: Show when we are calling the API -->
      <p  *ngIf="googleBooksService.initialised && googleBooksService.loading" class="lead" >Loading...</p>

      <!-- TODO: Show when no results are returned from the API -->
      <p  *ngIf="googleBooksService.initialised && !googleBooksService.loading && googleBooksService.books?.length ===0" class="lead">No results returned</p>

      <!-- TODO: Show when the user hasn't performed a search yet -->
      <p  *ngIf="!googleBooksService.initialised" class="lead">Enter a search string above and press search</p>
    </div>
  </div>

  <!-- <div  *ngFor=" let book of googleBooksService.books" class="card" style="width: 18rem;">
   <img class="card-img-top" src="{{book.thumbnail}}" alt="Card image cap">
   <div class="card-body">
     <h5 class="card-title"> {{ book.title}}</h5>
     <p class="card-text">{{book.description}}</p>
     <a href="#" class="btn btn-primary">Go somewhere</a>
   </div>
 </div>

 <ul>
   <li *ngFor=" let book of googleBooksService.books">

     <img class="book-thumbnail" src="{{book.thumbnail}}"
     alt="">

     {{ book.authors}}

   </li>
 </ul>
-->
  <!-- TODO: Show the results of the search -->
     <app-book-list [books]='googleBooksService.books'></app-book-list>

  <div class="d-flex justify-content-center">
    <!-- TODO: Show pagnation -->
    <app-pager [page]='googleBooksService.page' [totalPages]='googleBooksService.totalPages'
               (changePage)='googleBooksService.page=$event'></app-pager>
  </div>
</div>
